@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 300;
}

ul {
    list-style: none;
}

html {
    height: 100%;
}

body {
    background: url("bg.jpg") no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1rem;
}

input {
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

#push {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(117, 145, 230);
    border: none;
    color: white;
}

button {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(117, 145, 230);
    border: none;
    color: white;
}


/* CLASSES AND IDS */

.task {
    background: white;
    font-size: 2rem;
    height: 3rem;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.task span {
    cursor: pointer;
}

.delete {
    background-color: rgb(207, 117, 117);
    height: 100%;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    margin-left: 10px;
}

#taskname {
    margin: 0 1rem;
}

.radio {
    display: inline-flex;
    overflow: hidden;
    border-radius: 3px;
}

.radio__input {
    display: none;
}

.radio__label {
    padding: 0.5rem 1rem;
    background-color: rgb(200, 204, 243);
    font-size: 1.5rem;
    cursor: pointer;
}

.radio__label:not(:last-of-type) {
    border-right: 1px solid rgb(136, 160, 198);
}
.radio__input:checked + .radio__label {
    background-color: rgb(255, 255, 255);
}

input.completed {
    width: 2rem;
    height: 2rem;
    margin: 10px 10px 10px 0;
}

form {
    margin: 2rem 0 0.5rem 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.3rem;
    margin: 0.3rem;
}